*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat;
}

body{
    background-image: url('darkgalaxy.gif'); 
    background-repeat: repeat; 
    background-color: #000;
    color: #fff;
}

main{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.back-icon{
    display: block;
    margin-top: 1.5rem;
    justify-content: left !important;
}

.back-icon img{
    width: 60px;
}

.first-title{
    font-size: 1.5rem;
    justify-content: center;
    width: 100%;
    display: flex;
    margin: 2rem auto;
}

.first-page{
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 15px;
}

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid #fff;
    padding: 2px;
}
  
.Maio { grid-area: 1 / 1 / 2 / 8; }
.D { grid-area: 2 / 1 / 3 / 2; }
.S { griD-area: 2 / 2 / 3 / 3; }
.T { grid-area: 2 / 3 / 3 / 4; }
.Q { grid-area: 2 / 4 / 3 / 5; }
.Q2 { grid-area: 2 / 5 / 3 / 6; }
.S2 { grid-area: 2 / 6 / 3 / 7; }
.S3 { grid-area: 2 / 7 / 3 / 8; }
.um { grid-area: 3 / 1 / 4 / 2; }
.dois { grid-area: 3 / 2 / 4 / 3; }
.tres { grid-area: 3 / 3 / 4 / 4; }
.quatro { grid-area: 3 / 4 / 4 / 5; }
.cinco { grid-area: 3 / 5 / 4 / 6; }
.seis { grid-area: 3 / 6 / 4 / 7; }
.sete { grid-area: 3 / 7 / 4 / 8; }
.oito { grid-area: 4 / 1 / 5 / 2; }
.nome { grid-area: 4 / 2 / 5 / 3; }
.nove { grid-area: 4 / 2 / 5 / 3; }
.dez { grid-area: 4 / 3 / 5 / 4; }
.onze { grid-area: 4 / 4 / 5 / 5; }
.doze { grid-area: 4 / 5 / 5 / 6; }
.treze { grid-area: 4 / 6 / 5 / 7; }
.quatorze { grid-area: 4 / 7 / 5 / 8; }
.quinze { grid-area: 5 / 1 / 6 / 2; }
.dezesseis { grid-area: 5 / 2 / 6 / 3; }
.dezessete { grid-area: 5 / 3 / 6 / 4; }
.dezoito { grid-area: 5 / 4 / 6 / 5; }
.dezenove { grid-area: 5 / 5 / 6 / 6; }
.vinte { grid-area: 5 / 6 / 6 / 7; }
.vum { grid-area: 5 / 7 / 6 / 8; }
.vdois { grid-area: 6 / 1 / 7 / 2; }  
.vtres { grid-area: 6 / 2 / 7 / 3; }
.vquatro { grid-area: 6 / 3 / 7 / 4; }
.vcinco { grid-area: 6 / 4 / 7 / 5; }
.nossodia { grid-area: 6 / 5 / 7 / 6; }
.vsete { grid-area: 6 / 6 / 7 / 7; }
.voito { grid-area: 6 / 7 / 7 / 8; }
.vnove { grid-area: 7 / 1 / 8 / 2; }
.trinta { grid-area: 7 / 2 / 8 / 3; }
.trinteum { grid-area: 7 / 3 / 8 / 4; }

.nossodia{
    background-color: red;
    border-radius: 30px;
}

.ps-text{
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 300;
    width: 80%;
}

.second-page{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

img{
    display: flex;
    width: 100%;
    border-radius: 20px;
}

h2{
    display: flex;
    width: 100%;
    justify-content: center;
}

.second-page p{
    margin-top: 0.5rem;
}

.third-page{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.third-page p{
    margin-top: 0.5rem;
}

.fourth-page{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.fourth-page p{
    margin-top: 0.5rem;
}

.fifth-page{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.fifth-page p{
    margin-top: 0.5rem;
}

.sixth-page{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sixth-page p{
    margin-top: 0.5rem;
}

.seventh-page{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.seventh-page p{
    margin-top: 0.5rem;
}

.eighth-page{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.eighth-page p{
    margin-top: 0.5rem;
}

.nineth-page{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.nineth-page p{
    margin-top: 0.5rem;
}

.tenth-page{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tenth-page p{
    margin-top: 0.5rem;
}