*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat;
}

body{
    background-image: url('darkgalaxy.gif'); 
    background-repeat: repeat; 
    background-color: #000;
    color: #fff;
}

main{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
}

.first-title{
    margin: 1rem auto;
}

.back-icon{
    display: block;
    margin-top: 1.5rem;
    justify-content: left !important;
}

.back-icon img{
    width: 60px;
    border-radius: 20px;
}

.first-image{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.first-image img{
    margin: 0 auto;
    width: 80%;
    border-radius: 20px;
}

.first-text{
    margin-top: 0.5rem;
    text-align: justify;
}

.sec-title{
    margin: 1rem auto 0;
}

.back-icon{
    display: block;
    margin-top: 1.5rem;
    justify-content: left !important;
}

.back-icon img{
    width: 60px;
}

.sec-image{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.sec-image img{
    margin: 1rem auto 0;
    width: 80%;
    border-radius: 20px;
}

.ps-text{
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0 auto 1rem;
    width: 80%;
}

.sec-text{
    margin-bottom: 1rem;
    text-align: justify;
}